@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark font-display text-slate-900 dark:text-white antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  /* Custom scrollbar for webkit */
  .custom-scrollbar::-webkit-scrollbar {
      width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
      background: #111111; 
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #2d372a; 
      border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #53d22d; 
  }
}

/* Ticker Animation */
.ticker-wrap {
    width: 100%;
    overflow: hidden;
    @apply bg-primary;
    padding-left: 100%;
    box-sizing: content-box;
}

.ticker {
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    animation: ticker 30s linear infinite;
}

.ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 1rem;
    font-weight: 700;
    color: #111111;
}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
